<fieldset class="location-fieldset">
    <legend>{{ form.instance.name }}</legend>
    {{ form.id }}
    {{ form.non_field_errors }}
    <div class="location-status">
        <label class="toggle">
            {{ form.is_closed }}
            <span>Zamknięte</span>
        </label>
        {{ form.is_closed.errors }}
    </div>
    <div class="messages-list">
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        {% for message_form in formset.forms %}
            <div class="message-item">
                {{ message_form.id }}
                <div class="message-item__toggles">
                    <label class="toggle">
                        {{ message_form.is_active }}
                        <span>Wyświetlaj</span>
                    </label>
                    <label class="toggle">
                        {{ message_form.is_important }}
                        <span>Ważne</span>
                    </label>
                    {% if message_form.can_delete %}
                        <label class="toggle delete-toggle">
                            {{ message_form.DELETE }}
                            <span>Usuń</span>
                        </label>
                    {% endif %}
                </div>
                <div class="message-text">
                    {{ message_form.text }}
                    {{ message_form.text.errors }}
                </div>
                {{ message_form.non_field_errors }}
            </div>
        {% endfor %}
    </div>
</fieldset>
